body {
    font-family: monospace;
    color:rgb(169, 29, 106);
    margin: 20px;
    background-image: url(cutebg.png);
    text-align: center;
    cursor: url("cursor.png"), default;
}

.stamp {
    position: absolute;
    width: 5%;
    height: 5%;
}

.mikustamp {
    position: absolute;
    left: 45%;
    width: 5%;
    height: 5%;
}

.emustamp {
    position: absolute;
    left: 40%;
    width: 5%;
    height: 5%;

}

.lukastamp {
    position: absolute;
    left: 35%;
    width: 5%;
    height: 5%;

}

.cloverstamp {
    position: absolute;
    width: 5%;
    height: 5%;
    left: 55%;
}

.oliverstamp {
    position: absolute;
    width: 5%;
    height: 5%;
    left: 60%;
}

.mikunurse {
    position: absolute;
    right: 20vw;
    bottom: 40vw;

}

.scroll {
    position: absolute;
    left: 49.5%;
    transform: translateX(-49.5%);
    top: 13%;
}

.pictochat {
    width: 400px;
    height: 350px;
    position: absolute;
    top: 15%;
    left: 36%;
}

.petal {
    width: 500px;
    height: 350px;
    position: absolute;
    top: 15%;
    left: 1%;
}

.cats {
    width: 510px;
    height: 350px;
    position: absolute;
    top: 15%;
    left: 64%;
}

.firstlinehead {
    position: absolute;
    bottom: 73%;
    left: 47%
}


h1 {
    position: relative;
    top: 10%;
    background-image: url(banner.png);
    font-size:xx-large;
}

.yellowcurtain {
    border:none;
    height: 20px; 
    background-image: url("yellow2.png"); 
    background-repeat: repeat; 
    background-size: contain;
    
}

.scndlinehead {
    position: absolute;
    top: 24%;
    left: 40%;

}

.thrdlinehead {
    position: absolute;
    top: 29%;
    left: 40%;
} 


.fourlinehead {
    position: absolute;
    top: 34%;
    left: 40%;
} 


.fivelinehead {
    position: absolute;
    top: 39%;
    left: 40%;
} 

h3 {
    font-size: x-large;
    text-align: left;
}

.vocaloidinfo {
    text-align: left;
    line-height: 150%;
    background-color:rgb(248, 236, 163);
    box-shadow: 5px 5px 10px grey;

}

.vocaloidinfo:hover {
    font-size: large;
}

.vocaloidinfo2 {
    text-align: left;
    line-height: 150%;
    background-color:rgb(248, 236, 163);
    box-shadow: 5px 5px 10px grey;

}

.vocaloidinfo2:hover {
    font-size: large;
}

.vocaloid {
    position: absolute;
    width: 30%;
    height:30%;
    right: 65%;
    top: 180%;
}

.tabletitle {
    font-size: larger;
}
.songtable {
    text-align: left;
    position: absolute;
    left: 40%;
    font-size: large;
    background-color: rgb(248, 236, 163);
    box-shadow: 5px 5px 10px grey;
    border-style:solid;
    border-color: rgb(169, 29, 106);
    border-width: 10%;
}

.mangainfo {
    text-align: left;
    line-height: 150%;
    background-color:rgb(248, 236, 163);
    box-shadow: 5px 5px 10px grey;
}

.mangainfo:hover {
    font-size: large;
}

.mangalist {
    font-size:large;
    text-align: left;
    padding-left: 40%;
}

.gameinfo {
    text-align: left;
    line-height: 150%;
    background-color:rgb(248, 236, 163);
    box-shadow: 5px 5px 10px grey;
}
.gameinfo:hover {
    font-size: large;
}

.ruimizu {
    width: 20%;
    height: 15%;
}