body {
    font-family: monospace;
    color:rgb(169, 29, 106);
    margin: 20px;
    background-image: url(cutebg.png);
    text-align: center;
    cursor: url("cursor.png"), default;
}

.mikunurse {
    position: absolute;
    right: 20vw;
    bottom: 40vw;

}

.pictochat {
    width: 400px;
    height: 350px;
    position: absolute;
    top: 10%;
    left: 36%;
}

.firstlinehead {
    position: fixed;
    bottom: 82%;
    left: 45%
}


h1 {
    position: relative;
    top: 30px;
    background-image: url(banner.png);
    font-size: large;
}

.yellowcurtain {
    border:none;
    height: 20px; 
    background-image: url("yellow2.png"); 
    background-repeat: repeat; 
    background-size: contain;
    
}

p {
    position: relative;
    bottom: 290px;
}


